<!DOCTYPE html>
<html>
<head>
  <%= yield :title %>

  <%= render 'layouts/header' %>

</head>
<body>
  <%= render 'layouts/nav' %>

  <div class="mainContent">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <script>
  $(document).ready(function() {

   var docHeight = $(window).height();
   var footerHeight = $('.footer-distributed').height();
   var footerTop = $('.footer-distributed').position().top + footerHeight;

   if (footerTop < docHeight) {
     $('.footer-distributed').css('margin-top', 5 +(docHeight - footerTop) + 'px');
   }
  });
 </script>
</body>
</html>
