<%
meta title: @item.name + " - The3DShop",
     description: @item.name + " - " + @item.preview_description
%>

<div class="container">
  <div class="starter-template">
    <h1><%= @item.name %></h1>
    <%= render 'submit_control' %>

    <% if current_user == @item.user %>
      <%= link_to 'Edit this item', edit_item_path(@item) %> <br>
      <%= link_to 'Destroy this item', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <div class="item_details">
        <%= image_tag(@item.image.url(:big), :class => "property_img", :id =>"itemImage") %>
        <div class="item_text">
          <% if @item.categories.length > 0 %>
            <label>Categories</label>
            <% categoriesToShow = "" %>

            <% @item.categories.each do |category|
              categoriesToShow << category.name + ", "
            end %>  

            <p><%= categoriesToShow[0...-2] %></p>
          <% end %>

          <label>Price</label>
          <p class="item_price"><%= format_price %> $</p>

          <label>Description</label>
          <p>
            <%= simple_format h(@item.description)  %>
          </p>
        </div>
    </div>

    <%= render 'items/disqus' %>

  </div>
</div>