<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <%= image_tag(item.image.url(:med), :class => "image_cart") %>
      <h3 class="cart_row_item_text"><%= item.name %></h3>
      <h5 class="cart_row_item_text"><%= item.preview_description %></h5>
    </div>
    <div class="col-xs-4 cart_row_item_price">
      
      <%= form_for order_item, remote: true do |f| %>
        <h4>Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.hidden_field :item_id, value: item.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the item '#{order_item.item.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger cart_row_item_delete" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>